.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container-fluid {
  text-align: center !important;
  height: 100%;
}
#root {
  height: 100% !important;
}

form {
  width: 100%;
  text-align: center;
}

input{
  width: 100% !important;
  text-align: center;
}

span{
  width: 100% !important;
  text-align: center !important;
}
html{
  height: 100vh !important;
}

body{
  height: 100%;
}

.container {
  height: 100%;
}